<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block nombre%} {%endblock%} Flask test</title>
    <style>
        nav a {
            color: black;
            font-size: 3rem;
            margin-left: 50px;
            text-decoration: none;
        }

        .empleado{
            padding: 20px;
            margin: 10px;
        }

        .review{
            margin-left: 50px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{url_for('empleados')}}">Empleados</a>
        <a href="{{url_for('tickets')}}">Tickets</a>
        <a href="{{url_for('comentarios')}}">Comentarios</a>
    </nav>
    <hr/>
    <div class="content">
        {%block content%} {%endblock%}
    </div>
</body>
</html>